@font-face {
  font-family: "Gilroy Bold";
  src: url("../fonts/Gilroy-Bold.ttf");
}
@font-face {
  font-family: "Gilroy Heavy";
  src: url("../fonts/Gilroy-Heavy.ttf");
}
@font-face {
  font-family: "Gilroy Regular";
  src: url("../fonts/Gilroy-Medium.ttf");
}

html,
body {
  font-family: "Gilroy Bold", "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  background: #161616;
  color: #fff;
  scroll-behavior: smooth;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}

.landing-wrapper {
  margin: 5rem 0;
  margin-top: 8rem;
  font-size: 1.2rem;
  font-family: "Gilroy Regular";
}

button.cta {
  padding: 0.5rem 2rem;
  display: block;
  margin-top: 2rem;
  background: #abedeb;
  color: #351def;
  outline: none;
  border: none;
  font-family: "Gilroy Bold";
  font-size: 1.2rem;
  &:hover {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🙌</text></svg>")
        16 0,
      auto; /*!emojicursor.app*/
    background: #9bdddb;
  }
}

.dope-wrapper {
  display: inline;
  .dope-text {
    position: relative;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>💩</text></svg>")
        16 0,
      auto; /*!emojicursor.app*/
    text-decoration: underline;
    z-index: 2;
    color: #abedeb;
    &:hover + .dope-image {
      display: block;
    }
    &:hover {
      color: #fff;
    }
  }
  .dope-image {
    z-index: 0;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    img {
      max-height: 200px;
      max-width: 200px;
      object-fit: contain;
    }
  }
}

.slider-wrapper {
  margin: 5rem 0;
  font-size: 6vw;
  font-weight: 800;
  text-align: center;
  transition: all ease 100ms;
  .words {
    cursor: default;
    color: #abedeb;
    transition: all ease 120ms;
  }
}

.projects-wrapper {
  margin: 4rem 0;
  position: relative;
  .project-label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Gilroy Regular";
    color: #f3d914;
    transform: rotateZ(-90deg) translate(-100%, -100%);
    transform-origin: bottom left;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 0.8rem;
    &::before {
      content: "-";
    }
  }
  .projects-list {
    display: flex;
    justify-content: flex-start;
    color: #eee;
    font-family: "gilroy bold";
    a {
      text-decoration: none;
      color: #eee;
      &:hover {
        -webkit-text-stroke: 1px #fff;
        color: transparent;
      }
      &::after {
        content: ", ";
      }
      &:last-of-type {
        &::after {
          content: "";
        }
      }
    }
  }
}

.projects-list {
  display: flex;
  font-family: "Gilroy Heavy";
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: #333;
}

.convert-wrapper {
  padding: 4rem 0;
  margin: 1rem 0;
  border-bottom: 2px solid #333;
  .convert-txt {
    font-size: 3rem;
    color: #abedeb;
    display: block;
  }
  .convert-l {
    display: block;
    font-size: 2.5rem;
    margin-top: 1rem;
    a {
      color: #abedeb;
      margin-left: 1rem;
    }
  }
}

.social-wrapper {
  margin: 4rem 0;
  a {
    margin: 0.5rem 0;
    font-size: 2rem;
    color: #abedeb;
    text-decoration: none;
    &:hover {
      color: transparent;
      -webkit-text-stroke: 0.5px #abedeb;
    }
  }
  .add-info {
    display: block;
    font-family: "Gilroy Regular";
    margin-top: 2rem;
  }
}

a {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🙌</text></svg>")
      16 0,
    auto; /*!emojicursor.app*/
}

.f-r {
  float: right;
  font-family: "Gilroy Regular";
  color: #464646;
  display: flex;
  flex-direction: column;
  img {
    max-height: 300px;
    object-fit: contain;
  }
}

.progress {
  height: 2px;
  width: 100vw;
  background: #abedeb;
  position: fixed;
  left: 0;
  top: 0;
  transform-origin: left;
  z-index: 99;
}

.transition-overlay {
  z-index: 100;
  background: #111;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  transform-origin: bottom;
}

.work-title {
  margin-top: 30vh;
  font-size: 5rem;
  line-height: 0;
  color: #fff;
}

.back-btn {
  color: #f3d914;
  text-decoration: none;
  position: relative;
  top: 20vh;
  &:hover {
    color: #e3c904;
  }
}

.work-des {
  font-size: 1.5rem;
  font-family: "gilroy regular";
  color: #abedeb;
}
.work-content {
  margin: 4rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  img {
    max-width: 100%;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
}

@media only screen and (max-width: 720px) {
  .page-wrapper {
    width: 90%;
  }
  .landing-wrapper {
    font-size: 1rem;
    margin-top: 4rem;
  }
  button.cta {
    position: relative;
    left: 0;
    right: 0;
    margin: 2rem auto;
    font-size: 1rem;
  }
  .slider-wrapper {
    margin-top: 0;
    font-size: 9vw;
    font-weight: 600;
  }
  .projects-wrapper {
    margin-top: 4rem;
    .project-label {
      transform: none;
      top: -1rem;
    }
  }
  .projects-list {
    font-size: 2rem;
  }
  .convert-wrapper {
    padding-top: 1rem;
    margin-top: 0;
    .convert-txt {
      font-size: 2rem;
    }
    .convert-l {
      font-size: 1.5rem;
      a {
        margin-left: 0;
      }
    }
  }
  .f-r {
    float: none;
    color: transparent;
    margin-bottom: 2rem;
  }
  .work-content {
    grid-template-columns: 1fr;
  }
  .modal-txt {
    font-size: 1.5rem !important;
  }
  .modal-content {
    max-width: 70vw !important;
    padding: 2.5rem 1.5rem !important;
  }
}

.modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  .modal-overlay {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba($color: #000000, $alpha: 0.8);
    height: 100%;
    width: 100%;
    z-index: 99;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>❌</text></svg>")
        16 0,
      auto; /*!emojicursor.app*/
  }
  .modal-content {
    position: relative;
    top: 50%;
    max-width: 50vw;
    background: #9bdddb;
    margin: auto;
    z-index: 101;
    color: #161616;
    border-radius: 4px;
    padding: 2rem;
    transform: translateY(-50%);
    .modal-txt {
      font-size: 2rem;
      color: #161616;
    }
    a {
      color: #351def;
      text-decoration: none;
      &:hover {
        -webkit-text-stroke: #351def 1px;
        color: transparent;
      }
    }
  }
}
